{% load static %}
<footer class="text-center text-white" style="background-color: #f1f1f1;">
      <!-- Grid container -->
      <div class="container pt-4">  
        
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(65, 17, 66, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="{% static 'https://mdbootstrap.com/'' %}">mitsuha.com</a>
      </div>
      <!-- Copyright -->
</footer>
    
    
   
 